[[source]]
url = "https://mirror.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
beautifulsoup4 = "*"
aiohttp = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.11"
